<!-- report.tmpl -->
<html>
<head>
<title>fastaq Report</title>
<style type="text/css">
    	.first { background-color: #2894ff; color: #FFFFFF; }
        .odd  { background-color: #FFFFFF }
        .even { background-color: #97cbff }
  pre {
   	padding: 1em;
    border: 1px dashed #2f6fab;
    color: black;
    background-color: #f9f9f9;
    line-height: 1.1em;
    WORD-WRAP: break-word;
	}
h2 {
  color: #800000;
  padding-bottom: 0;
  margin-bottom: 0;
  clear:left;
  }
</style>

<style type="text/css">
    div.summary {
    width: 18em;
  }
   div.summary ul {
  padding-left:0;
  list-style-type:none;
  font-weight:bold;
  }
  
  div.summary ul li img {
  margin-bottom:-0.5em;
  margin-top:0.5em;
  }
</style>

<style type="text/css">
  .centeredImage
    {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
</style>

</head>
<body>
<h1>fastq Report</h1>

<div><h2 id="M100">Command</h2>
<p>The report was generated at <TMPL_VAR NAME=CREATTIME>. Here is your command for generating this report, keep it in order to reproduce the result.</p>
<pre><TMPL_VAR NAME=COMMAND></pre>
</div>

<div><h2 id="M200">Result Table</h2>
<p>Column description</p>
<pre>
TotalReads: Total reads in fastq file
Reads(Y) or (N): Y if the read fails filter (read is bad), N otherwise
BQ: base quality score
GC: GC content
</pre>
<table align="center" style="border:#2894ff 1px solid;">
<!-- TMPL_LOOP NAME=MAKETABLE1 --> <CSTM_ROW EVEN=even ODD=odd FIRST=first>
   </tr>
<!-- /TMPL_LOOP -->
</table>
</div>

<div><h2 id="M200">Sequence quality and content</h2>
<p>Per base sequence quality. N means only keep the reads that didn't fail filter. If the data was pair-end, pearson correlation coefficient and euclidean distance between data from two ends will be calculated and displayed.</p>
<p class="centeredImage"><img src="<TMPL_VAR NAME=FIGUREBASESCOREYNLEGEND>"></p>
<p class="centeredImage"><img src="<TMPL_VAR NAME=FIGUREBASESCOREYN>"></p>
<p>Per base sequence content. N means only keep the reads that didn't fail filter. The standard deviation of per base sequence content (except the top 10 bases) for A, T, C, G will be calculated respectively and the median standard deviation will be displayed.</p>
<p class="centeredImage"><img src="<TMPL_VAR NAME=FIGUREBASENUCYN>"></p>
</div>

<div><h2 id="M300">Batch effect</h2>
<p>The results were separated into different groups by their Instrument, RunNumber, Flowcell and Lane. Then boxplot plots were used to visualize their distribution. Kruskal-Wallis rank sum test and Fligner-Killeen test were performed to see if the distributions and variances in each of the groups are the same</p>
<TMPL_LOOP NAME=FIGURELOOP1>
<p class="centeredImage"><img src="<TMPL_VAR NAME=FIGUREBATCH>"></p>
</TMPL_LOOP>
</div>

</body>
</html>